body {
    background-color: darkslategray;
}

.header {
    display: flex;
    padding: 0 100px;
}

.header-logo {
    width: 275px;
    height: auto;
    margin-right: auto;
}

.links {
    display: flex;
    gap: 16px;
}

.links li {
    list-style-type: none;
}

.links a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 0 100px;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-right img {
    width: 100%;
    height: 100%;
}

.content {
    background-color: white;
}

.cards-header {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 0 200px;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .box {
    border: solid black 5px;
    width: 90px;
    height: 90px;
}

.quote-section {
    background-color: lightgrey;
    padding : 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {

}

.attribution {
    margin-left: auto;
}

.call-to-action {
    background-color: white;
    display: flex;
    justify-content: center;
}

.call-to-action .box {
    display: flex;
    justify-content: space-around;
}

.call-to-action .box .text {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
}