body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 0 100px;
}

.header-logo {
    width: 275px;
    height: auto;
    margin-right: auto;
}

.links {
    display: flex;
    gap: 16px;
}

.links li {
    list-style-type: none;
}

.links a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    gap: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-left button {
    flex-grow: 0;
}

.hero-right img {
    width: 100%;
    height: 100%;
}

.content {
    background-color: white;
}

.cards-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 0 200px;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .box {
    border: solid #3882f6 5px;
    border-radius: 25px;
    width: 90px;
    height: 90px;
}

.quote-section {
    background-color: #e5e7eb;
    padding : 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.attribution {
    margin-left: auto;
}

.call-to-action {
    background-color: white;
    display: flex;
    justify-content: center;
}

.call-to-action .box {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    padding: 12px 18px;
    gap: 18px;
}

.call-to-action .box .text {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}

.call-to-action .box button {
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: white;
}